@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Roboto Mono';
  background-color: #150533;
}

root {
  background: #150533;
}

@responsive {
  .text-shadow {
    text-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
  }
}
